*, :after, :before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  font-family: monospace, sans-serif;
  background-color: black;
  overflow: hidden;
}

header {
  width: 100vw;
  height: 8vh;
}

/*-------------------- Side Navigation push (off-canvas) --------------------*/
/*-- source inspiration: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav_push ---*/

.sidenav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav .museums-filter {
  display: block;
  margin: 0 auto;
  margin-bottom: 1.8em;
  padding: 0.5em;
  width: 13em;
}
.list-ctn {
  height: 70vh;
  overflow-x: hidden;
  overflow-y: auto;
}
ul {
  padding: 0;
  margin: 0;
}

.sidenav h1 {
  font-size: 2em;
  color: white;
}

.sidenav li {
  font-size: larger;
  color: #818181;
}

.sidenav h1,
.sidenav li {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: flex;
  transition: 0.3s;
}

.sidenav li:hover,
.sidenav .closebtn:hover,
.hamburger-btn:hover {
  color: #f1f1f1;
  background-color: orange;
  cursor: pointer;
}

.sidenav .closebtn {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  top: 12px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #818181;
  background-color: transparent;
  border: transparent;
  border-radius: 50%;
}

.hamburger-btn {
  font-size: 4vh;
  cursor: pointer;
  color: #f1f1f1;
  background-color: transparent;
  border: transparent;
  border-radius: 50%;
  margin: 6px 0 0 12px;
  height: 1.5em;
  width: 1.5em;
}

/*---------------- End of Side Navigation push (off-canvas)------------------*/

/*---------- Beginn of Open Navigation Menu and deplace map to right ---------*/

#navToRight {
  width: 250px;
}

#mapToRight {
  margin-left: 255px;
}

/*--------- End of Open Navigation Menu and deplace map to right -------------*/

/*--------- Beginn of Close Navigation Menu and deplace map to left ----------*/

#navToLeft {
  width: 0;
}

#mapToLeft {
  margin-left: 0;
}
/*------------ End of Close Navigation Menu and deplace map to left ----------*/
/*--------------------------------- Beginn of Map ----------------------------*/
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.map-container {
  position: fixed;
  background-color: pink;
  transition: margin-left .5s;
  width: 100vw;
  height: 84vh;
}

.container-element {
  width: 100vw;
  height: 84vh;
}
.my-frame {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 2147483647;
}

#map {
  height: 100vh;
  width: 100vw;
}

.museums-item {
  width: 30vw;
}

.map-element {
  height: 100%;
  position: relative;
  overflow: hidden;
}
h1.list-error {
  margin: 50px 0 5px 0;
}
/*------------------------------- End of Map ---------------------------------*/
/*------------------------------- Beginn of InfoWindow -----------------------*/
.popup-decoration {
  width: 15em;
}

.popup-title {
  color: orange;
}

.popup-text {
  margin: 0;
  padding-right: 0.5em;
  display: ruby;
  color: #5a3e43;
}

.credits {
  font-size: 1em;
  color: blue;
  margin: 1% 0;
}
/*------------------------------- End of InfoWindow --------------------------*/
/* -------------------------- Beginn of MapError -----------------------------*/
.error-message {
  text-align: center;
  padding: 1em;
}
/*-- owl's svg code --*/
.project-main-cover {
  overflow:hidden;
  position: relative;
  width: 80%;
  padding-top: 1.5em;

}
/*-- beginn of owl svg code --*/
.corp{
  fill:#7d97ad;
}
.w-eye{
  fill:#fff; /*#ffffff*/
}
.gray{
  fill:#2d3c49;
}
.nose{
  fill:#ededed;
  stroke:#1d1d1b;
  stroke-linecap:round;
  stroke-miterlimit:10;
}
.wing{
  opacity:0.36;
  fill:#2d3c49;
}
.bubble{
  fill:none;
  stroke:#1d1d1b;
  stroke-width:0.5846px;
  stroke-linecap:round;
  stroke-miterlimit:10;
}
.welcome {
  font-family: monospace, sans-serif;
  font-size: 1em;
}
/*-- ends of owl svg code --*/
/* ---------------------------- End of MapError ------------------------------*/
/* -------------------------- Beginn of Footer -----------------------------*/
footer {
  position: absolute;
  background-color: black;
  text-align: center;
  bottom: 0;
  width: 100vw;
  height: 8vh;
  padding: 0 10px 10px 10px;
}

.text {
  color: #ac9b9b;
  display: inline-block;
  height: 4vh;
}

a {
  text-decoration: none;
}

strong {
  color: #ffa500;
}

a:hover {
  text-decoration: underline;
}

/* -------------------------- End of Footer -----------------------------*/
/*-------------------- Media Queries --------------------*/

/*-------------------- Side Navigation push (off-canvas) --------------------*/
@media screen and (max-height: 450px){
  .sidenav {
    padding-top: 15px;
  }
  .sidenav li {
    font-size: 18px;
  }
}

@media screen and (min-height: 501px) {
  #mapToRight {
    width: calc(100vw - 255px);
  }
}
/*---------------- End of Side Navigation push (off-canvas)------------------*/
